.nav {
    font-family: 'Macondo', cursive;
    padding: 15px 20px 5px 20px;
    background-color: #FDE0D9;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 5;
    width:inherit;
}

.logo {
    font-size: 48px;
    font-weight: 400;
    font-size: 45px;
}

.menu {
    align-self: flex-end;
}

.menu-item {
    font-family: 'Macondo', cursive;
    font-weight: 400;
    font-size: 21px;
    background-color: #CAEFD1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
    margin: 5px;
}