.nav {
    font-family: 'Macondo', cursive;
    padding: 15px;
    background-color: #FDE0D9;
    align-items: center;
    z-index: 5;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-right: 7vw;
}

.logo h1 {
    font-size: 48px;
    font-weight: 400;
    font-size: 45px;
    margin-left: 5vw;
}

.menu-item {
    font-family: 'Macondo', cursive;
    font-weight: 400;
    font-size: 21px;
    background-color: #CAEFD1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
    margin: 1vw 1vw;
}